$primary-color: #9EEC1B;
$bgc: #000000;
$footer-bgc: #01083E;
$text-color: #FF5033;
$meta-color: #999999;
$border-color: $text-color;
$code-color: $text-color;
$code-bgc: #eeeeee;
$roadmap-text-color: #ffffff;
$serif-font: 'Adamina', serif;
$sans-font-hl: 'moche', sans-serif;
$sans-font: 'pexico', sans-serif;
$main-font: $sans-font;
$breakpoint: 1100px;
$breakpoint-mobile: 600px;
$container-lg: 1410px;
$btn-border-color: #A6EE2F;
$info-box-content-color: #E1DCDA;
$hydradx-and-basilisk-text-color: #8EA3AC;
$button-color: #FF5033;
$min-width: 350px;
