.page-index {
  .header-background {
    background-size: contain;
    background-image: url("./images/header-background-2.png");
    background-repeat: no-repeat;
    display: flow-root;
    height: 1375px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -26px;
    left: 0;
    min-width: $min-width;

    @media (max-width: breakpoint-min('xl')) {
      background-size: cover;
      background-position-x: right;
      height: 975px;
      top: -80px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bgc);
        opacity: 0.5;
      }
    }
  }

  .section-1 {
    margin: 186px auto 13px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.basilisk {
    margin-bottom: 202px;
    max-width: 998px;
  }

  .headline-1 {
    text-align: center;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    line-height: 44px;
  }


  .section-2-info-box {
    max-width: 1360px;
    margin: 0 auto;
  }

  .headline-2 {
    @extend .p-color;
    text-align: center;
    padding: 70px 1em;
    font-size: 34px;
    line-height: 44px;
  }

  .headline-3 {
    @extend .p-color;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 1em;
    font-size: 34px;
    line-height: 44px;
  }

  .section-2 {
    padding-bottom: 70px;
  }

  .weird-stroke {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 765px;
    position: absolute;
    top: -50px;
    left: -257px;
    z-index: -1;
  }

  .pos-relative {
    position: relative;
    background-image: url("./images/mountain.png");
    background-color: #000000;
    background-repeat: no-repeat;
    height: 765px;
    background-size: contain;
  }

  .basilisk-logo-md {
    width: 300px;
    padding-top: 200px;
  }

  .mountain-logo-slogan {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .mountain-logo-slogan-text {
    max-width: 500px;
    font-size: 34px;
    text-align: center;
    line-height: 44px;
    padding: 60px 0 50px 0;
  }

  .banner-wrapper {
    position: absolute;
    bottom: 0;
  }

  .build-on-basilisk-wrapper {
    position: relative;

  }

  .build-on-basilisk {

  }

  .build-on-basilisk-detail-wrapper {
    padding-top: 8px;
  }

  .build-on-basilisk-img {
    background-image: url(./images/weird-stroke.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 765px;
    position: absolute;
    top: -100px;
    left: -396px;
    z-index: 0;
  }

  .btn-build-on-basilisk {
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .build-on-basilisk-text {
    display: flex;
    font-size: 24px;
    line-height: 32px;
    color: var(--hydradx-and-basilisk-color);

    &:before {
      content: '';
      background-image: url("./images/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      margin: 0.3em 12px 0.3em 0;
      flex: 0 0 22px;
    }
  }

  .green-ellipse-1 {
    width: 70px;
    position: absolute;
    left: 36%;
    top: 150px;
  }

  .green-ellipse-2 {
    width: 90px;
    position: absolute;
    left: 30%;
    top: 300px;
  }

  .arrow-style {
    width: 20px;
    position: absolute;
    top: 7px;
    left: -30px;
  }

  .hydradx-and-basilisk-wrapper {
    display: flex;
  }

  .hydradx-and-basilisk-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hydradx-and-basilisk-text {
    position: relative;
    display: flex;
    padding: 22px 196px 22px 0;
    font-size: 24px;
    line-height: 32px;
    color: var(--hydradx-and-basilisk-color);
  }

  .hydradx-and-basilisk-text:before {
    content: '';
    background-image: url("./images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em 12px 0.5em 0;
    flex: 0 0 22px;
  }

  .table-road-map-wrapper {
    display: flex;
    justify-content: center;
  }

  table.table.roadmap {
    margin-bottom: 84px;
    border: 2px solid var(--primray-color);
    border-radius: 5px;
    max-width: 930px;
    width: 100%;
    border-spacing: 0;

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

    td {
      padding: 0.3em 1em;
      border-bottom: 1px solid var(--primray-color);
      border-right: 1px solid var(--primray-color);

      &.milestone {
        vertical-align: top;
        padding: 0.7em 1.5em;
      }

      &:last-child {
        border-right: none;
        vertical-align: top;
      }

      &.task:not(.task-last), &.done:not(.task-last) {
        border-bottom: none;
        padding-bottom: 0;
      }

      li.listing__item {
        padding: 0;
      }

      &.task-last {
        padding-bottom: 0.7em;
      }

      &.task-first {
        padding-top: 0.7em;
      }
    }

    @media (max-width: breakpoint-min('sm')) {
      td.milestone {
        padding: 0.7em 1em;
      }
    }
  }

  @media (max-width: 1490px) {
    .section-1 {
      margin: 95px auto 30px auto;
    }

    .hydradx-and-basilisk-text {
      padding: 12px 80px 12px 0;
      font-size: 20px;
      line-height: 32px;
    }

    img.basilisk {
      margin-bottom: 120px;
    }

    .mountain-logo-slogan-text {
      font-size: 28px;
      line-height: 36px;
      padding: 40px 0;
    }

    .build-on-basilisk-img {
      top: -90px;
    }
  }

  @media (max-width: breakpoint-min(xl)) {
    .info-box-title {
      padding: 0.4em 1.5em;
      font-size: 20px;
    }

    .mountain-logo-slogan-text {
      font-size: 24px;
      line-height: 25px;
      padding-bottom: 40px;
    }
  }

  @media (max-width: breakpoint-min(lg)) {
    .pos-relative {
      background-image: url("./images/mountain-smaller-screen.svg");
      height: 700px;
    }

    .hydradx-and-basilisk-content-wrapper {
      order: 2;
      padding: 0 48px;
    }

    .hydradx-and-basilisk-text {
      padding: 12px 0;
    }

    .hydradx-and-basilisk-img-wrapper {
      order: 1;
    }

    .info-box-title {
      height: auto;
    }

    .build-on-basilisk {
      margin-bottom: 12em;
    }

    .green-ellipse-1 {
      left: 66%;
    }

    .green-ellipse-2 {
      left: 55%;
    }
  }

  @media (max-width: breakpoint-min(md)) {
    .headline-1 {
      font-size: 28px;
      line-height: 38px;
    }

    .build-on-basilisk-img {
      left: -49vw;
      top: -35px;
    }

    .build-on-basilisk-text {
      font-size: 20px;
      line-height: 32px;
    }

    .hydradx-and-basilisk-img {
      padding: 12px;
    }
  }

  @media (max-width: breakpoint-min(sm)) {
    .pos-relative {
      height: 600px;
    }

    .build-on-basilisk-text {
      font-size: 15px;
      line-height: 22px;
    }

    .mountain-logo-slogan-text {
      margin-top: -20px;
    }

    .green-ellipse-1 {
      top: 100px;
    }

    .green-ellipse-2 {
      top: 200px;
    }
  }

  @media (max-width: 499px) {
    .build-on-basilisk-img {
      left: -40vw;
      top: -10px;
    }

    .hydradx-and-basilisk-text {
      font-size: 15px;
      line-height: 22px;
    }
    .btn-build-on-basilisk {
      justify-content: flex-end;
    }

    .headline-1 {
      font-size: 20px;
      line-height: 26px;
    }

    .info-box-wrapper {
      padding: 10px 0;
    }

    .info-box-title {
      font-size: 16px;
      line-height: 24px;
    }

    .info-box-content {
      font-size: 15px;
      line-height: 22px;
    }
  }
}
