.page-support-basilisk {
  .header-background {
    background-size: contain;
    background-image: url("./images/header-background-2.png");
    background-repeat: no-repeat;
    display: flow-root;
    height: 1375px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -26px;
    left: 0;
    min-width: $min-width;

    @media (max-width: breakpoint-min('xl')) {
      background-size: cover;
      background-position-x: right;
      height: 975px;
      top: -80px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--bgc);
        opacity: 0.5;
      }
    }
  }

  .support-basilisk-title-wrapper {
    padding: 4em 0;
  }

  .learn-how-to-support {
    padding: 6em 0;
    max-width: 840px;
  }

  .learn-how-to-support-content {
    font-size: 34px;
    line-height: 44px;
  }

  .support-basilisk-title {
    color: var(--primray-color);
    font-size: 56px;
    line-height: 56px;
  }

  .infographic-item {
    display: flex;
    justify-content: space-between;
    padding: 3.2em 0;
  }

  .infographic-img {
    width: 690px;
  }

  .infographic-text {
    display: flex;
    align-items: center;
    text-align: left;
    width: 550px;
    font-size: 34px;
    line-height: 44px;
    color: var(--hydradx-and-basilisk-color);
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }

  .btn-support-basilisk {
    max-width: 350px;
    display: flex;
    align-items: center;
    padding: 0 72px;
  }

  @media (max-width: 1490px) {
    .infographic-item {
      flex-direction: column;
      align-items: center;
    }

    .infographic-img {
      order: 1;
    }

    .infographic-text {
      order: 2;
      width: auto;
      padding-top: 5%;
      text-align: center;
    }
  }

  @media (max-width: breakpoint-min(md)) {
    .infographic-item {
      padding: 2.5em 0;
    }

    .infographic-img {
      width: 480px;
    }

    .infographic-text {
      font-size: 28px;
      line-height: 36px;
    }
  }

  @media (max-width: breakpoint-min(sm)) {
    .btn-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .btn-support-basilisk {
      width: 320px;
      max-width: none;
      font-size: 15px;
      line-height: 16px;
      justify-content: center;
      margin: 20px 0;
      padding: 0.7em 1.5em;
    }

    .infographic-text {
      font-size: 15px;
      line-height: 22px;
    }

    .support-basilisk-title {
      font-size: 34px;
      line-height: 34px;
    }

    .learn-how-to-support-content {
      font-size: 15px;
      line-height: 22px;
    }

    .learn-how-to-support {
      padding: 3em 0;
    }
  }

  @media (max-width: 499px) {
    .infographic-img {
      width: 328px;
    }


  }
}
