ul.dropout-menu
    a.dropout-menu-link(href='https://docs.bsx.fi')
        li.dropout-menu-item Docs

    a.dropout-menu-link(href='https://docs.bsx.fi/basilisk_crowdloan')
        li.dropout-menu-item Crowdloan Details

    a.dropout-menu-link(href='https://docs.bsx.fi/crowdloan_guide')
        li.dropout-menu-item Crowdloan Guide

    a.dropout-menu-link(href='https://docs.bsx.fi/parachains')
        li.dropout-menu-item Parachains, Auctions and Crowdloans

    a.dropout-menu-link(href='https://docs.bsx.fi/tokenomics/')
        li.dropout-menu-item Tokenomics

    a.dropout-menu-link(href='https://docs.bsx.fi/infra_testnet')
        li.dropout-menu-item Testnet Deployment
