mixin footer
    - var linksSize = footerLinks.length

    footer.footer
        .footer__inner.d-xl-flex
            img.footer-icon(src=url('images/left-footer-icon.png'))
            ul.footer__menu.footer__menu-right
                each link in footerLinks
                    a.btn.btn__sm.footer__menu-item(href=link.url target=link.target)=link.test
            img.footer-icon.right-footer-icon(src=url('images/right-footer-icon.png'))
