.btn {
  border: 2px solid var(--btn-border-color);
  background-color: var(--bgc);
  color: var(--primray-color);
  text-shadow: 0px 0px 9px rgba(166, 238, 47, 0.6);
  text-transform: uppercase;
  box-shadow: 0px 0px 40px rgba(166, 238, 47, 0.6);
  border-radius: 2px;
  display: inline-block;

  &__xlg {
    padding: 1em 2.5em;
    font-size: 40px;
  }

  &__lg {
    padding: 0.4em 2.5em;
    font-size: 24px;
  }

  &__md {
    padding: 0.3em 1.5em;
  }

  &__sm {
    padding: 0 0.5em;
    border-width: 1.5px;
    text-transform: capitalize;
    text-shadow: none;
    box-shadow: none;
  }

  &:hover {
    border-color: var(--primray-color);
    background-color: var(--text-color);
    color: var(--footer-bgc);
    text-decoration: none;
  }

  @media (max-width: breakpoint-min(sm)) {
    &__lg {
      padding: 0.4em 2em;
      font-size: 1.1em;
    }
  }
}
