.info-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.info-box-title {
  font-size: 24px;
  line-height: 30px;
  color: $primary-color;
  text-align: center;
  padding: 0.4em 0.8em;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box-content {
  font-size: 17px;
  line-height: 26px;
  color: $info-box-content-color;
  text-align: center;
}
