.footer {

  &__shape {
    position: relative;
    top: 20px;
    display: block;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 2em;
  }

  &__inner-mobile {
    background-color: var(--footer-bgc);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em 2em 1em;
  }

  &__logo {
    width: 120px;
    height: 120px;
  }

  &__menu {
    padding: 0;
    margin: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__menu-item {
    margin: 0.5em;
  }

  .footer-icon {
    width: 80px;
  }

  @media (max-width: breakpoint-min('lg')) {
    &__shape {
      top: 5px;
    }
  }

  @media (max-width: breakpoint-min('md')) {
    .right-footer-icon {
      display: none;
    }

    .footer__inner {
      flex-direction: column;
    }
  }

  @media (max-width: breakpoint-min('sm') - 1px) {

    &__logo {
      margin-top: calc(((100% + 2em) * (-84) / 574) - 52px);
      margin-bottom: 1.5em;
    }
  }
}
